.dashboard {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin-top: 30px;
}

.dashboard-subtitle {
  color: var(--text-primary-color);
  font-size: 24px;
  font-weight: 500;
}

.dashboard-title {
  color: var(--text-primary-color);
  font-size: 56px;
  margin: 5px 0;
  font-weight: 800;
}

.dashboard-wrapper {
  display: flex;
  flex-direction: column;
}

.dashboard img {
  margin: 0 auto;
  width: 264px;
  height: 264px;
  margin-top: 25px;
}

.dashboard-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
}

.dashboard-link:hover {
  transform: scale(1.02);
}

.dashboard-btn-wrapper {
  border: 1px solid #474306;
  width: 160px;
  height: 60px;
  border-radius: 10px;
}

.dashboard-btn {
  position: relative;
  right: 6px;
  bottom: 7px;
  width: 160px;
  height: 60px;
  background-color: #f5ee84;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  color: var(--text-terciary-color);
  font-weight: 400;
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .dashboard {
    padding: 0 92px;
    margin-top: 42px;
  }

  .dashboard-subtitle {
    font-size: 28px;
  }

  .dashboard-title {
    font-size: 60px;
    margin: 5px 0;
  }

  .dashboard-wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 26px;
  }

  .dashboard img {
    margin-top: 0px;
  }

  .dashboard-link {
    margin-top: 0px;
  }
}