.header-wrapper {
  display: flex;
  margin: 12px 20px;
  justify-content: space-between;
  align-items: center;
}

.social-wrapper {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 10px 15px;
}

.social-wrapper img {
  cursor: pointer;
}

.social-wrapper img:hover {
  transform: scale(1.1);
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header-wrapper {
    margin: 35px 55px;
  }

  .social-wrapper {
    display: flex;
    gap: 28px;
  }
}

@media (min-width: 1024px)  {
  .header-wrapper {
    margin: 30px 180px;
  }

  .social-wrapper {
    display: flex;
    gap: 32px;
  }
}
